:root {
    --header-color: #B2ABF2;
    --body-color: #FFEDE1;
    --black-color: black;
    --white-color: white;
    --home-bb-color: #B2ABF2;
    --home-color: #EBEBD3;
    --content-color: #3BF4FB;
    --bis-color: bisque;
    --yellow-color: #CAF500;
    --table-border-color: #ddd; /* Added variable for table border color */
    --home-bb-bg-color: #473198; /* Added variable for home-bb background color */
}

table {
    width: 100%; 
    border-collapse: collapse; 
    table-layout: auto; 
    font-size: 55%;
}

th, td {
    border: 1px solid var(--table-border-color); 
    padding: 12px; 
    text-align: left; 
    width: auto;
}

.home-bb {
    position: absolute;
    top: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    background-color: var(--home-bb-bg-color);
    color: var(--white-color);
    border-radius: 5%;
}

section#hbb {
    margin: 2.2%;
}

h2#dark {
    margin: 0;
}

#veiw {
    display: none;
}

select#t-dropdown-menu {
    display: flex;
    width: 90px; 
}

@media screen and (max-width: 768px) {
    .home-bb {
        position: relative;
        top: 150px;
    }
    h2 {
        display: none;
    }
    #veiw {
        display: flex;
        position: relative;
        top: 100px;
    }
}

@media screen and (min-width: 768px) {
    select#t-dropdown-menu {
        display: flex;
        width: 150px; 
    }
}

@media screen and (min-width: 768px) {
    select#t-dropdown-menu {
        display: flex;
        width: 100%; 
    }
}
